/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*GENERAL*/
.root{
    -yellow: #F0E043;
    -red: #F08A73;
    -purple: #7F5AF0;
    -turquoise:#4FF0B5;
    -dark: #16161A;
    -grey: #27272e;
}

.normal-button{
    -fx-text-fill: white;
	-fx-background-color: -grey;
	-fx-border-color: -yellow;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

.standard-text{
    -fx-font-size: medium;
    -fx-fill: white;
}
.dark-bg{
	-fx-background-color: -dark;
	-fx-text-background-color: #ffffff;
}

.headline{
    -fx-fill: -purple;
    -fx-font-size: large;
    -fx-font-weight: 900;
}

/* GAMEPLAY SCENE*/

.note-block{
	-fx-text-fill: white;
		-fx-fill: -dark;
		-fx-width: 1;
}

#paneA{
    -fx-background-color: linear-gradient(to bottom, -yellow, -dark);
}

#paneS{
    -fx-background-color: linear-gradient(to bottom, -red, -dark);
}

#paneD{
    -fx-background-color: linear-gradient(to bottom, -purple, -dark);
}

#paneF{
    -fx-background-color: linear-gradient(to bottom, -turquoise, -dark);
}
.inputButtons{
		-fx-text-fill: white;
		-fx-font-size: large;
		-fx-font-weight: 900;
		-fx-background-color: -dark;
		-fx-border-width: 10;
		-fx-border-style: solid;
		-fx-border-radius: 30;
}

.btn1{
	-fx-border-color: -yellow;
}

.btn2{
	-fx-border-color: -red;
}

.btn3{
	-fx-border-color: -purple;
}

.btn4{
	-fx-border-color: -turquoise;
}

.btn5{
	-fx-background-color: #E23C2E
}

.column1{
	-fx-background-color: -yellow;

}

//START SCENE

.purple-box{
    -fx-background-color: -purple;
    -fx-text-fill: red;
    -fx-padding: 10px;
}

.grey-box{
   -fx-background-color: -grey;
   -fx-fill: white;
   -fx-padding: 20px;
}
